{% extends 'base.html' %}


{% block app_content %}

<p>Поля не должны быть пустыми,<br> иначе будут размеры 20 х 20</p>
    <form class="input_form" method="POST">

        <div>

        <label for="width">Введите размер поля по горизонтали</label>
        <input type="number" name="width" id="width" >
        <p>
           <label for="height">Введите размер поля по вертикали </label>
           <input type="number" name="height" id="height" >
        </p>
        </div>
        <button class="btn btn-primary" type="submit"> Создать жизнь </button>
    </form>

{% endblock %}
