{% extends 'base.html' %}



{% block app_content %}
<div id="life_count" class="counter" >{{ life.count }}</div>
<a class="btn btn-warning home" href="{{ url_for('index') }}" > На главную </a>
<a class="btn btn-info refresh" href="{{ url_for('live') }}" > Создать новую жизнь </a>
<table id="new_world" class="world">
   {% for i in range(life.world|length) %}
        <tr>
            {% for j in range(life.world[i]|length) %}
                {% if life.world[i][j] %}
                    <td class="cell living-cell"></td>
                {% elif life.world[i][j] == 0 and life.old_world[i][j]%}
                    <td class="cell dead-cell"></td>
                {% else %}
                    <td class="cell"></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
</table>
{% endblock %}



{% block scripts %}
{{super()}}

<!"импорт библиотеки jquery">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>

<script>
$(document).ready(function() {
    setInterval(refresher, 1000);
});

function refresher(){
    $.ajax({
        url: '/live',
        method: "GET",
        dataType: 'html',
        success: function(response) {
            var htmlObject = $(response); // jquery call
            document.getElementById('life_count').innerHTML = htmlObject.find('#life_count')[0].innerHTML; // обновление счётчика
            document.getElementById('new_world').innerHTML = htmlObject.find('#new_world')[0].innerHTML;  // обновление таблицы
        },
        error: function(xhr, status, error) {
            alert(xhr.responseText);
            alert(error);
        }
    });
}
</script>
{% endblock %}
